<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>아이콘 메뉴</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../asset/com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <!-- D/P : 컴퍼넌트 예시화면용이므로 페이지 제작시 적용하지 않음 -->
    <link rel="stylesheet" type="text/css" href="../com/css/cm.guide.css">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../asset/com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../asset/com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
</head>
<body>

    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">circle menu</h1>

            <section class="cp-content">
                <h2 class="cp-tit dep02">derection</h2>
                <article class="cNav-wrap">
                    <div class="quick-wrap topL">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>

                    <div class="quick-wrap topR">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>

                    <div class="quick-wrap btmL">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>
                    
                    <div class="quick-wrap btmR">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>
                </article>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">round</h2>
                <article class="cNav-wrap">
                    <div class="quick-wrap round topL">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>

                    <div class="quick-wrap round topR">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>
                    <div class="quick-wrap round topC">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                        </ul>
                        
                    </div>

                    <div class="quick-wrap round btmL">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                            <li><a href="" class="ico-nav">4</a></li>
                            <li><a href="" class="ico-nav">5</a></li>
                        </ul>
                        
                    </div>
                    
                    <div class="quick-wrap round btmC">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                            <li><a href="" class="ico-nav">4</a></li>
                            <li><a href="" class="ico-nav">5</a></li>
                        </ul>
                        
                    </div>

                    <div class="quick-wrap round btmR">
                        <a href="" class="quick-menu ico-nav">
                            <span class="bar"></span>
                            <em class="bar"></em>
                            <i>메뉴열기</i>
                        </a>
                        <ul class="quick-nav">
                            <li><a href="" class="ico-nav">1</a></li>
                            <li><a href="" class="ico-nav">2</a></li>
                            <li><a href="" class="ico-nav">3</a></li>
                            <li><a href="" class="ico-nav">4</a></li>
                            <li><a href="" class="ico-nav">5</a></li>
                        </ul>
                        
                    </div>
                </article>
            </section>
        </div>
    </div>

<!-- [S] PAGES - SCRIPT -->
<script src="../../asset/com/js/ui.component.js"></script>
<!-- [E] PAGES - SCRIPT -->
</body>
</html>