<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>팝업/알럿/툴팁/토스트팝</title>
    
    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../com/css/cm.common.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../com/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../com/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <script src="../com/js/lib/lib.ua-parser.min.js"></script>
    <script src="../com/js/lib/lib.cleave.min.js"></script>
    <script src="../com/js/lib/lib.moment.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->
<script>

</script>
</head>
<body>
    <div id="cp-wrap">
        <div id="cp-container">
            <h1 class="cp-tit dep01">POPUP</h1>

            <section class="cp-content">
                <h2 class="cp-tit dep02">MODAL</h2>
                <div class="btnWrap">
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_01'})" data-focus="true">TOP</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_02'})" data-focus="true">Left</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_03'})" data-focus="true">CENTER</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_04'})" data-focus="true">RIGHT</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_05'})" data-focus="true">BOTTOM</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" onclick="UI.modal.show({target: '#MODAL_06'})" data-focus="true">FULL</a>
                </div>

                <!-- [s] modal : _top-->
                <div id="MODAL_01" class="modal _modal">
                    <div class="modal-content _modal-content _top">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : TOP</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _top-->

                <!-- [s] modal : _left-->
                <div id="MODAL_02" class="modal _modal">
                    <div class="modal-content _modal-content _left">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : LEFT</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _left-->

                <!-- [s] modal : _center-->
                <div id="MODAL_03" class="modal _modal">
                    <div class="modal-content _modal-content _center">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : CENTER</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _center-->

                <!-- [s] modal : _right-->
                <div id="MODAL_04" class="modal _modal">
                    <div class="modal-content _modal-content _right">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : RIGHT</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _right-->

                <!-- [s] modal : _bottom-->
                <div id="MODAL_05" class="modal _modal">
                    <div class="modal-content _modal-content _bottom">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : BOTTOM</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _bottom-->

                <!-- [s] modal : _full-->
                <div id="MODAL_06" class="modal _modal">
                    <div class="modal-content _modal-content _full">
                        <div class="modal-header">
                            <div class="modal-btn left">
                                <button type="btn" aria-role="button" class="btn-pop prev"><span class="hide">이전페이지</span></button>
                            </div>
                            <p class="modal-title center">title</p>
                            <div class="modal-btn right">
                                <button type="btn" aria-role="button" class="btn-pop close _modal-close"><span class="hide">창닫기</span></button>
                            </div>
                        </div>

                        <div class="modal-main">
                            <div class="modal-inner">
                                <p>MODAL : FULL POP</p>
                                <p>modal-content</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btnWrap split col2">
                                <button class="btn btn-size md bg _modal-cancel">cancel</button>
                                <button class="btn btn-size md bg type2 _modal-confirm">confirm</button>                                
                            </div>
                        </div>
                    </div><!--// _modal-content div e-->
                </div><!--// _modal div e-->
                <!--// [e] modal : _full-->

            </section>


            <section class="cp-content">
                <h2 class="cp-tit dep02">SYSTEM ALERT</h2>
                <div class="btnWrap">
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" data-focus="true" onclick="UI.alert.show({message: '시스템 알럿<br>안내성 알럿메세지입니다.', confirm: '확인'})">알림 / 확인</a>
                    <a href="javascript:;" class="btn btn-line  ico-pop af" aria-role="button" data-focus="true" onclick="UI.alert.show({message: '시스템 알럿<br>메세지 확인이 필요합니다.<br>메세지를 확인하시겠습니까?', confirm: '확인', cancel: '취소'})">승인 / 확인, 취소</a>
                </div>
            </section>

            <section class="cp-content">
                <h2 class="cp-tit dep02">ToolTip Message</h2>
                <div class="toolTip_wrap">툴팁텍스트 : RIGHT
                    <a href="javascript:;" class=" ico ico-tip" aria-role="button" data-focus="true" onclick="UI.toolTip.show({ selector: this, message: 'ToolTip message : RIGHT', direction: 'right' })">
                        <span class="hide">툴팁</span>
                    </a>
                </div>

                <div class="toolTip_wrap r">툴팁텍스트 : LEFT
                    <a href="javascript:;" class=" ico ico-tip" aria-role="button" data-focus="true" onclick="UI.toolTip.show({ selector: this, message: 'ToolTip message : LEFT <br> ToolTip message <br> ToolTip message', direction: 'left' })">
                        <span class="hide">툴팁</span>
                    </a>
                </div>

                <div class="toolTip_wrap c">툴팁텍스트 : TOP
                    <a href="javascript:;" class=" ico ico-tip" aria-role="button" data-focus="true" onclick="UI.toolTip.show({ selector: this, message: 'ToolTip message : TOP <br> ToolTip message <br> ToolTip message', direction: 'top' })">
                        <span class="hide">툴팁</span>
                    </a>
                </div>

                <div class="toolTip_wrap c">툴팁텍스트 : BOTTOM
                    <a href="javascript:;" class=" ico ico-tip" aria-role="button" data-focus="true" onclick="UI.toolTip.show({ selector: this, message: 'ToolTip message : BOTTOM <br> ToolTip message <br> ToolTip message', direction: 'bottom' })">
                        <span class="hide">툴팁</span>
                    </a>
                </div>

            </section>

            <section class="co-content">
                <h2 class="cp-tit dep02">Toast</h2>
                <div class="btnWrap">
                    <button type="button" class="btn btn-line  ico-pop af alC" aria-role="button" data-focus="true" onclick="UI.toast.show({ message: 'toast message', delay: 3000 })">
                        <span class="button-label">toast</span>
                    </button>
                </div>
            </section>

        </div>
    </div>


<!-- [S] PAGES - SCRIPT -->
<script src="../com/js/ui.component.js"></script>
<!-- [E] PAGES - SCRIPT -->
</body>
</html>