.modal {    
    @include pos-offset-l(0, 0);
    @include pos(fixed);
    width:100%; height:100%;
    background:rgba(0, 0, 0, 0.25);
    // backdrop-filter: blur(.5rem); -webkit-backdrop-filter: blur(.5rem);} // Blur effect
    &-content {
        @include display(flex); flex-direction: column;
        @include pos(absolute);
        background-color: $color-white;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);        
    }
    &-header {
        @include display(flex); flex-shrink: 0;
        @include pos(relative); 
        padding: 0 1.0rem;
        height: 5.0rem;
    }
    &-title {
        @include display(flex); align-items: center;
        padding: 0 1.0rem;

        &.center {
            @include auto-center-align(absolute);
        }
    }
    &-btn {
        @include display(flex); align-items: center;
        &.right {margin-left: auto;}

        & > .btn-pop {
            &.close {
                @include pos(relative);
                width:2rem; height:2rem;
                
                @include el-content("before"){
                    /*
                    @include display(inline-block);
                    @include align(vertical, middle);
                    content:"\f00d";
                    @include webfont('iconFont', 900);
                    */
                    width:2rem; height:.1rem;
                    background:$color-gray1;                   
                    @include pos-offset-l(50%, 0);
                    transform:rotate(-45deg);
                }
                @include el-content("after"){
                    width:2rem; height:.1rem;
                    background:$color-gray1;
                    @include pos-offset-l(50%, 0);
                    transform:rotate(45deg);
                }
            }

            &.prev {
                @include pos(relative);
                width:2rem; height:2rem;
                
                @include el-content("before"){
                    /*
                    @include display(inline-block);
                    @include align(vertical, middle);
                    content:"\f053";
                    @include webfont('iconFont', 900);
                    */
                    @include pos-offset-l(0, 50%);
                    width:1rem; height:1rem; margin-left:calc(-1rem/2); margin-top:calc(1rem/2);
                    border-left:1px $color-gray1 solid;
                    border-bottom:1px $color-gray1 solid;
                    transform:rotate(45deg);
                }
            }
        }
    }
    &-main {flex:1; flex-shrink:0; flex-basis:0;}
    &-inner {padding:0 var(--space-sm);}
    &-footer {flex-shrink:0; padding:1.5rem;}

    /* MODAL - SELECT */
    &-select {
        .select {
            &-item {
                & + & {border-top: .1rem solid $color-gray7;}
            }
            &-button {
                @include display(flex); align-items: center;
                padding:1rem 0 1rem 2rem;
                width:100%; min-height:5rem;
            }
            &-icon {flex-shrink:0; margin-left:auto;}
        }
    }

    &.alert {
        
        .modal {
            &-content {
                &._center {min-height:25%;}
            }
            &-inner {padding:var(--space-sm);}
        }
    }
}

/* MODAL - SCRIPT */
._modal {
    visibility:hidden; opacity:0; z-index:-1;    
    pointer-events:none;
    transform: scale(0);
    &-content {
        &._top {
            @include pos-offset-l(0,0);
            width:100%; min-height: 50%;
            border-radius:0 0 1.0rem 1.0rem;
            transform: translate(0, -100%);
        }
        
        &._left {
            @include pos-offset-l(0,0);
            min-width: calc(100% - 2.4rem); height: 100%;
            transform: translate(-100%, 0);
        }

        &._center {
            @include auto-offset-align(50%, 50%);
            width: calc(100% - 4.8rem);
            min-width: 50%; min-height: 50%;
            // height:500px;
            border-radius: 1.0rem;

            .modal-main {@include overflow (x, auto);}
        }

        &._right {
            @include pos-offset-r(0,0);
            min-width: calc(100% - 2.4rem); height: 100%;
            transform: translate(100%, 0);}

        &._bottom {
            bottom: 0; left: 0; 
            width: 100%; min-height: 30%; border-radius: 1.0rem 1.0rem 0 0;
            transform: translate(0, 100%);
            
            .modal-main {@include overflow (y, auto);}
        }

        &._full {@include pos-offset-l(0,0); width: 100%; height: 100%;}
    }

    &.\:active {
        visibility: visible; opacity: 1; pointer-events: initial; transform: scale(1); z-index:1000;

        ._modal-content:not(._center) {transform: translate(0, 0);}
    }

    /* MODAL - ALERT */
    &._alert ._modal-content {min-height: 20.0rem;}

    /* MODAL - SELECT SCRIPT */
    &._select {
        &-option {
            &.\:active {background-color:$color-white;}
        }
    }
}

.alert {
    @include display(flex);
    justify-content: center; align-items: center;
    @include pos-offset-l(0, 0);
    @include pos(fixed);
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; pointer-events: none;

    &-content {
        @include display(flex);
        flex-direction: column; justify-content: center;
        padding: 1.6rem; width: calc(100% - 4.8rem); min-height: 20.0rem;
        border-radius: 1.0rem;
        background-color:$color-white;
        box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.25);
    }

    &-message {
        flex-grow: 1; flex-shrink: 0; flex-basis: 0;
        @include display(flex);
        justify-content: center; align-items: center;}
    
    
}

/* ALERT - SCRIPT */
._alert {
    &.\:active {pointer-events: initial; opacity: 1;}
    .modal {
        &-inner {
            @include display(flex);
            flex-direction: column; justify-content: center;
            height:100%;
        }
    }
}

/* ToolTip */
.toolTip{
    &-content {
        @include display(flex);
        @include pos(absolute);
        z-index: 1;
    }
    &-message {
        @include pos(absolute);
        overflow: hidden; padding: .8rem; width: 0;
        border:1px $color-gray5 solid; border-radius: .3rem; background-color:$color-white;
        text-align: left; line-height: 1.25; color:$color-gray1; word-wrap: break-word;
        backdrop-filter: blur(.5rem); -webkit-backdrop-filter: blur(.5rem);}
}

/* ToolTip - SCRIPT */
._toolTip  {
    @include display(inline-block);
    //vertical-align: top;
    @include pos(relative);
    
    &-close {
        @include pos(absolute); top:0; right:0;
        width:2rem; height:2rem;
        z-index:5;
        
        @include el-content("before"){
            width:1rem; height:.1rem;
            background:$color-gray1;
            @include pos-offset-l(50%, 25%);
            transform:rotate(-45deg);
        }
        @include el-content("after"){
            width:1rem; height:.1rem;
            background:$color-gray1;
            @include pos-offset-l(50%, 25%);
            transform:rotate(45deg);
        }
    }
    

    &-content {
        opacity: 0;
        &.\:active {opacity:1;}

        &._top {
            top: 0; left: 50%;
            @include el-content(before){
                @include tooltip-arrow(top, 0, 50%, -50%, 100%);
            }
            ._toolTip-message {transform: translate(-50%, -100%);}
        }
        &._bottom {
            bottom: 0; left: 50%;
            @include el-content(before){
                @include tooltip-arrow(bottom, 0, 50%, -50%, -100%);
            }
            ._toolTip-message {transform: translate(-50%, 0);}
        }
        &._left {
            left: 0; top: 50%;
            @include el-content(before){
                @include tooltip-arrow(left, 0, 0, 100%, -50%);
            }
            ._toolTip-message {transform: translate(-100%, -50%);}
        }
        &._right {
            right:0; top:50%;
            @include el-content(before){
                @include tooltip-arrow(right, 0, 0, -100%, -50%);
            }
            ._toolTip-message {transform: translate(0, -50%);}
        }
    }

    

}

/* TOAST  - SCRIPT */
._toast {
    @include pos(fixed);
    bottom: 0; left: 0;
    padding: 0 1.6rem 3.2rem;
    width: 100%; opacity: 0;

    &-message {
        @include display(block);
        padding: 1.2rem; border-radius: 1.2rem;
        background-color: rgba(0, 0, 0, 0.75); color: rgb(255, 255, 255);
        backdrop-filter: blur(.5rem); -webkit-backdrop-filter: blur(.5rem);}

    &.\:active {opacity: .8;}
}


